.white-form{
-fx-background-color: #fff;
}
.other-form{
-fx-background-color: linear-gradient(to bottom right,#451952,#AE445A); //#9e20a0,#5a3375
}
.create-btn{
-fx-background-color:transparent;
-fx-border-color:#fff;
-fx-border-width:1px;
-fx-text-fill:#fff;
}